.select-plan {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.plans-header {
  display: flex;
  flex-direction: column;
}

.plans-header h1 {
  color: hsl(228, 45%, 44%);
  margin-bottom: 2%;
  font-size: 2rem;

}

.plans-header h3 {
  color: hsl(228, 45%, 44%);
  font-weight: 500;

}

.plans-header p {
  color: hsl(240, 1%, 73%);
  margin-bottom: 5%;

}

.plans {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.card {
  align-items: flex-start;
  border: solid 2px #ccc;
  border-radius: 10px;
  width: 25%;
  margin-bottom: 5%;

}

.card img {
  padding: 10%;

}

.card h3 {
  margin-top: 25%;
  padding: 10%;
  color: hsl(228, 45%, 44%);

}

.card p {
  padding: 10%;
  color: hsl(240, 1%, 73%);


}

.plan-renovation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(245, 242, 242);
  padding: 5%;
  margin-bottom: 5%;

}

.plan-renovation h3 {
  color: hsl(228, 45%, 44%);

}


.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;

}


/* Switch button stylization */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}